@import url(common.css);
@import url(header.css);
@import url(footer.css);



#wrap{

}

#visual{


}

#visual img{
  margin-top:50px;
  width:100%;
  height:300px;
}

section{

}

#section1{
  margin-top:0px;
}

#section1 ul{
  width:100%;
  display:flex;
  justify-content:center;
}

#section1 .material-icons{
  font-size:50px;
  text-align:center;
  color:rgb(255, 147, 147);
}


#section1 ul li{
  width:33.3333%;
  height:130px;
  border:1px solid rgb(244, 234, 230);
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:15px;
  text-align: center;
  font-weight:bold;
  color:rgb(168, 114, 114);
}


#section2{
  margin-top:20px;
}

#section2 h1{
  font-size:24px;
  text-align:center;
}

#section3{
  margin-top:50px;

}

.section3in{
  background:url("../image/gallery-.png") no-repeat center center fixed;
  background-size:cover;
  width:100%;
  height:280px;
  display:block;
}


#section3 h2{
  font-size:24px;
  color:#fff;
  text-align:center;
  margin-top:20px;
  line-height:280px;
  /* position: absolute;
  top:110px;
  left:138px; */
  text-shadow:1px 1px 3px #000;
}

#section4{
  margin-top:50px;

}


#section4 ul{
  width:100%;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  margin:20px auto 60px;
}

#section4 ul li{
  
} 


#section4 ul li img{
  width:204px;
}












